<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- 12주차 실습입니다. -->
	<h2>12_Weekend_task</h2>
	<form action="/view" method="post" target="_blank">
		<label for="userName"> username : </label>
		<input type="text" id="userName" name="userName"><br>
		<label for="userMbti"> userMbti : </label>
		<input type="text" id="userMbti" name="userMbti"><br>
		<label for="userGender"> userGender : </label>
		<input type="text" id="userGender" name="userGender"><br>
		<label for="userAge"> userAge : </label>
		<input type="text" id="userAge" name="userAge"><br>
		<input type="submit" value="전송">
	</form>
</body>
</html>