<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>sc3Form.html</title>
	<style>
		
	</style>
</head>
<body>
	<!-- 11 주차 실습 -->
	<h2>스프링부트에서 객체 전달하기4</h2>
	<form action="/SampleController4_11" method="post" target="_blank">
		<label for="userName"> name : </label>
		<input type="text" id="userName" name="userName"><br>
		<label for="userId"> Id : </label>
		<input type="text" id="userId" name="userId"><br>
		<label for="userPhone"> Phone : </label>
		<input type="text" id="userPhone" name="userPhone"><br>
		<input type="submit" value="전송">
		
	
	</form>
	
</body>
</html>